$primary: rgb(113, 19, 245);


@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root{
    scroll-behavior: smooth;
}

img{
    
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
